@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scan {
  0% { transform: translateY(-100px); opacity: 0; }
  50% { opacity: 0.5; }
  100% { transform: translateY(400px); opacity: 0; }
}

.animate-scan {
  animation: scan 4s linear infinite;
}